version: '3.8'

services: 
  db:
    image: postgres:15-alpine
    container_name: digital_library_db
    enviroment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PODSTGRES_DB: digital_library
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    adminer:
      image: adminer
      restart: always
      ports:
        - "8081:8080"

  volumes:
    postgres_data: